<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8"/>

    <link rel="stylesheet" th:href="@{/style.css}">

    <title>giflib | Home</title>
</head>
<body>
    <h1>Home</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda delectus esse eum nesciunt nobis perspiciatis quaerat quis recusandae reiciendis temporibus? Dolores earum facere hic maiores? Consequuntur cumque eum obcaecati ullam.</p>
    <img th:src="@{/gifs/avocado.gif}" alt="logo"/>
</body>
</html>